<div>
    <app-navbar></app-navbar>
    <div class="main-content">

        <div class="headings">
            <h2>my habits</h2>
            <ul>
                <li>mon</li>
                <li>tue</li>
                <li>wed</li>
                <li>thu</li>
                <li>fri</li>
                <li>sat</li>
                <li>sun</li>
            </ul>
        </div>

        <div class="habits">
            <app-habit-list></app-habit-list>
        </div>
 
    </div>
    <div class="footer">
        <p>&copy; habit@: The chill habit tracker.</p>
    </div>
</div>