div {
    height: 100vh;
    width: 100vw;
    background-color: #B49FCC;

    .main-content {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
        margin-top: 20px;

        .habits{
            display: flex;
            flex-direction: column;
            border: 2px solid yellow;

            h2 {
                height: 10%;
            }

            p {
                border: 2px solid yellow;
                height: 90%;
            }
        }

        .weekdays {
            display: flex;
            flex-direction: column;
            border: 2px solid yellow;

            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                border: 2px solid yellow;
                height: 10%;
            }

            p {
                border: 2px solid yellow;
                height: 90%;
            }
        }
    }
}