<div>
    <app-navbar></app-navbar>
    <div class="main-content">

        <div class="headings">
            <h2>my habits</h2>
            <ul>
                <app-weekday text="mon"></app-weekday>
                <app-weekday text="tue"></app-weekday>
                <app-weekday text="wed"></app-weekday>
                <app-weekday text="thu"></app-weekday>
                <app-weekday text="fri"></app-weekday>
                <app-weekday text="sat"></app-weekday>
                <app-weekday text="sun"></app-weekday>
            </ul>
        </div>

        <div class="habits">
            <ul>
                <app-habit-item text="go for a run"></app-habit-item>
                <app-habit-item text="drink 8 glasses of water"></app-habit-item>
                <app-habit-item text="walk the dog"></app-habit-item>
            </ul>
        </div>
 
    </div>
    <app-footer></app-footer>
</div>