@import '../../../variables.scss';

div {
    background-color: $secondary-color;

    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        margin: 50px;

        .headings{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            height: 10%;

            h2 {
                width: 20%;
            }

            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: 80%;
                margin: 0px 40px;
            }
        }

        .habits {
            display: flex;
            flex-direction: column;
            height: 90%;

            ul {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
        }
    }
}