div {
    background-color: #6D466B;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    padding: 0px 50px;

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}