@import '../../../variables.scss';

h2 {
    border: 2px solid white;
    color: white;
    padding: 20px;
    border-radius: 40px;
    font-size: 1.5em;
    cursor: pointer;
    margin: 0px 5px;

    &:hover {
        background-color: $tertiary-color;
    }
}