//colours 

$primary-color: rgb(130, 70, 199); //deep purple
$secondary-color: #B49FCC; //lilac purple
$tertiary-color: #FFB997; //pink

$highlighted-color: rgb(156, 122, 196); //on hover purple
$text-color: rgb(42, 5, 59);

//fonts
@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

$font-family: 'Karla', sans-serif;