//colours 

$primary-color: "#6D466B"; //deep purple
$secondary-color: "#B49FCC"; //lilac purple
$tertiary-color: "#F67E7D"; //pink

$highlighted-color: "#FFB997";
$text-color: "rgb(42, 5, 59)";
// $fourth-color: "#FFB997"; //light pink
// $fifth-color: see above //dark purple

//fonts
@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

$font-family: 'Karla', sans-serif;